# PyCharm project files
.idea

# MacOS index file
.DS_Store

# Snakemake internal directory
.snakemake

# Pipeline input files and results
reads
results
resources
logs
benchmarks
tmp
lsf_docker_env_file.env